<div>
    <div id="dropdown" class="search-tool">
        <button ng-click="myFunction()" class="dropbtn">
            <input type="checkbox" id="hacky-input">
            <label for="hacky-input">
                <img ng-click="myFunction()" class="crossRotate" src="images/downArrow.png" /></label>&nbsp;&nbsp;{{searchOption}}</button>
        <div id="myDropdown" class="dropdown-content" ng-show="isDropDownVisible" ng-click="dropdownClicked()">
            <a ng-click="OptionSelected('1')">by Name</a>
            <a ng-click="OptionSelected('2')">by Order id</a>
            <a ng-click="OptionSelected('3')">by Mobile Number</a>
        </div>
        <div class="container-fluid results">
            <div class="row" ng-repeat="val in searchResult">
                <a ui-sref="dashboard.SearchUser">
                    <div class="col-xs-6">{{ val.title}}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="box search-tool">
        <div class="container-4" style="padding-left:350px !important;">
            <div id="button_SearchBar">
                <input type="search" id="search" ng-model="searchdata" placeholder="Search..." />
            </div>
            <button class="icon">
                <img src="images/ic_search_48px-128.png" width="35" height="35" />
               <!-- <i class="fa fa-search"></i></button>-->
        </div>
    </div>
    <br/>
    <br/>
    <div class="jumbotron">
        <p class="lead"> Search Results</p>
        <table class="table forum table-striped">
            <thead>
                <tr>
                    <th class="cell-stat"></th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">
                        Customer Name
                    </th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">Order id</th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">Last Transaction Date</th>
                    <th class="cell-stat-2x hidden-xs hidden-sm"> Last Transaction Status</th>
                </tr>
            </thead>
            <tr>
                <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
                <td>
                    <h4><a ui-sref="dashboard.Customer">Ramesh</a><br><!--<small>Some description</small></h4>-->
                </td>
                <td class="text-center hidden-xs hidden-sm"><a href="#">1402321</a></td>
                <td class="text-center hidden-xs hidden-sm"><a href="#">25th Dec 2015</a></td>
                <td class="hidden-xs hidden-sm">Failed
                    <!--<br><small><i class="fa fa-clock-o"></i> 3 months ago</small>-->
                </td>
            </tr>
            <tr>
                <td class="text-center"><i class="fa fa-exclamation fa-2x text-danger"></i></td>
                <td>
                    <h4><a href="#">Suresh</a><!--<br><small>Category description</small>--></h4>
                </td>
                <td class="text-center hidden-xs hidden-sm"><a href="#">1498231</a></td>
                <td class="text-center hidden-xs hidden-sm"><a href="#">26th Dec 2015</a></td>
                <td class="hidden-xs hidden-sm">Completed
                    <!--<br><small><i class="fa fa-clock-o"></i> 1 years ago</small>-->
                </td>
            </tr>
        </table>
    </div>
</div>
