<div >
    <div id="dropdown" class="search-tool">
        <button onclick="myFunction()" class="dropbtn">
            <input type="checkbox" id="hacky-input">
            <label for="hacky-input">
                <img class="crossRotate" src="downArrow.png" /></label>&nbsp;&nbsp;by Type</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="by Name.html">by Name</a>
            <a href="#">by Oder id</a>
            <a href="#">by Mobile Number</a>
        </div>
    </div>
    <div class="box search-tool">
        <div class="container-4" style="padding-left:350px !important;">
            <div id="button_SearchBar">
                <input type="search" id="search" placeholder="Search..." />
            </div>
            <a href="Consumer Template.html">
                <button class="icon">
                    <img src="ic_search_48px-128.png" width="35" height="35" />
                    <i class="fa fa-search"></i></button>
            </a>
        </div>
    </div>
</div>
